:root {
	--bg-color: rgb(53, 53, 55);
	--text-color: rgb(235, 235, 235);
	--form1-color: rgb(52, 137, 197);
	--form2-color: rgb(95, 173, 86);
}

* {
	box-sizing: border-box;
	color: var(--text-color);
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--bg-color);
	margin: 0;
}

#check {
	display: none;
}

#check:checked ~ .form-container.register-form {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.wrapper.expand {
  height: 34.5rem;
}

#check:not(:checked) ~ .form-container.register-form {
	transform: translate(-50%, 50%);
}

#check:checked ~ .form-container.register-form .form-header {
	font-size: 2.25rem;
}

#check:checked ~ .form-container.login-form .form-header {
	font-size: 1.5rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 10px 25px 4px rgba(0, 0, 0, 0.35);
	height: 29rem;
	width: 32rem;
	border-radius: 1.25rem;
  transition: height 0.35s ease-out;
}

.form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.form-container.login-form {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-container.login-form button {
  margin-bottom: 1.65rem;
}

.form-container.register-form {
	z-index: 1;
	background-color: var(--bg-color);
	transition: all 0.35s ease-out;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-container.register-form:hover {
	opacity: 1;
}

.form-padding {
	padding: 1.5rem 3rem;
}

.form-header {
	height: 75px;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	transition: all 0.4s;
	transition-timing-function: ease;
	user-select: none;
}

.form-container.register-form .form-header {
	background-color: var(--form1-color);
	cursor: pointer;
}

.form-container.login-form .form-header {
	height: 75px;
	font-size: 2.25rem;
	background-color: var(--form2-color);
}

.input-box {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.input-box input {
	width: 100%;
	height: 100%;
	margin-bottom: 2.75rem;
	padding: 0.5rem 1.75rem 0.35rem 0;
	font-size: 1.3rem;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: rgb(121, 116, 116) 3px solid;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
	transform: translateY(-1.75rem);
	color: rgb(190, 190, 190);
}

.input-box label {
	position: absolute;
	font-size: 1.05rem;
	font-weight: bold;
	left: 0px;
	top: 9px;
	transition: 0.175s ease;
}

.input-box i {
	position: absolute;
	top: 15px;
	right: 0;
}

.form-container button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	width: 100%;
	border: none;
	border-radius: 0.85rem;
	font-size: 1.2rem;
	height: 2.4rem;
	padding: 0.45rem 0;
	cursor: pointer;
	margin-bottom: 1.25rem;
}

.form-container button:disabled {
	cursor: default;
}

.form-container.register-form button {
	background-color: var(--form1-color);
}

.form-container.login-form button {
	background-color: var(--form2-color);
}

.login-register {
	text-align: center;
	font-size: 1.05rem;
	margin-top: 1.1rem;
	margin-bottom: 0;
}

.form-container .login-register > label {
	font-weight: bold;
	cursor: pointer;
}

.form-container.register-form .login-register > label > span {
	color: var(--form1-color);
}

.form-container.login-form .login-register > label > span {
	color: var(--form2-color);
}

.form-spinner {
	font-size: 1.5rem;
	width: calc(0.9rem + 12px);
	height: calc(0.9rem + 12px);
}

.form-alert {
	background-color: #9c2b2e;
	border-color: rgb(118, 31, 38);
	color: var(--text-color);
}

.speed-game-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 3.5fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
}

.speed-game-timer-score {
	grid-row: 1 / 1;
	grid-column: 1 / 2;
	display: flex;
	align-self: end;
	justify-content: center;
}

.speed-game-timer {
	padding-right: 2.25rem;
	border-right: 1px solid grey;
}

.speed-game-score {
	padding-left: 2.25rem;
	border-left: 1px solid grey;
}

.tiles-container {
	position: relative;
	display: grid;
	/* width: clamp(250px, 50%, 80%); */
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	width: min(80%, 500px);
	aspect-ratio: 1;
	overflow: hidden;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	place-self: center;
}

.tile {
	border: grey 1px solid;
	cursor: pointer;
	user-select: none;
}

.tile.active {
	background-image: linear-gradient(135deg, #22c55e 10%, #16a34a 100%);
	transition: opacity 0.3s linear; /* Transition opacity */
}

.tile:not(.active) {
	opacity: 1; /* Keep non-active tiles fully opaque */
}

.wave {
	position: absolute;
	left: var(--wave-x);
	top: var(--wave-y);
	transform: translate(-50%, -50%);
	border: solid 2px rgba(128, 128, 128, 0.6);
	content: '';
	z-index: -1;
	border-radius: 50%;
	animation: mouse-wave 0.4s forwards;
	pointer-events: none;
}

.homepage {
	width: 100%;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.homepage .bubble {
	position: absolute;
	bottom: -200px;
	border-radius: 50%;
	aspect-ratio: 1;
	background: rgb(19, 135, 248);
	background: linear-gradient(90deg, rgb(39, 145, 251) 0%, rgba(8, 80, 221, 1) 100%);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-name: floating-bubble;
	z-index: -1;
}

.homepage .bubble:nth-child(1) {
	left: 8%;
	height: min(100px, calc(40px + 10vw));
	animation-duration: 19s;
	animation-delay: 3.75s;
}

.homepage .bubble:nth-child(2) {
	left: 18%;
	height: 55px;
	animation-duration: 12.5s;
}

.homepage .bubble:nth-child(3) {
	left: 30%;
	height: 83px;
	animation-duration: 14s;
	animation-delay: 5s;
}

.homepage .bubble:nth-child(4) {
	left: 42%;
	height: 60px;
	animation-duration: 12s;
	animation-delay: 6.5s;
}

.homepage .bubble:nth-child(5) {
	left: 55%;
	height: 110px;
	animation-duration: 23s;
	animation-delay: 1s;
}

.homepage .bubble:nth-child(6) {
	left: 70%;
	height: 85px;
	animation-duration: 14s;
	animation-delay: 3.25s;
}

.homepage .bubble:nth-child(7) {
	left: 83%;
	height: 60px;
	animation-duration: 11.5s;
	animation-delay: 4s;
}

.homepage .bubble:nth-child(8) {
	left: 90%;
	height: 30px;
	animation-duration: 9s;
	animation-delay: 5.5s;
}

.homepage .user-greeting {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.user-greeting button {
	margin-left: 0.5rem;
}

.games-menu-container {
	display: flex;
	background-color: rgb(45, 45, 45);
	height: 70vh;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	position: relative;
	border-radius: 1.5rem;

	-webkit-box-shadow: inset -5px -1px 22px 1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: inset -5px -1px 22px 1px rgba(0, 0, 0, 0.7);
	box-shadow: inset -5px -1px 22px 1px rgba(0, 0, 0, 0.7);
}

.games-menu-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.games-menu-btn {
	font-weight: 500;
	margin: 1.75rem;
	padding: 0.3rem;
	align-items: center;
	background: linear-gradient(145deg, var(--form1-color), var(--form2-color));

	border: none;
	border-radius: 0.75rem;
	box-shadow: rgba(65, 205, 252, 0.175) 0 0.6rem 1.25rem -0.4rem;
	display: flex;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.games-menu-btn:active,
.games-menu-btn:hover {
	outline: 0;
}

.games-menu-btn span {
	background-color: rgb(45, 45, 45);
	padding: 0.6rem 1rem;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	transition: background-color 300ms;
}

.games-menu-btn:hover span,
.games-menu-btn:active span {
	background: none;
}

.games-menu-btn:active,
.games-menu-btn:active {
	/* might remove this */
	transform: scale(0.9);
}

.memory-game-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.memory-grid-container {
	display: grid;
	place-content: center;
	width: calc(125px * var(--memory-grid-length));
	max-width: min(90vw, 60vh);
	aspect-ratio: 1;
	grid-template-columns: repeat(var(--memory-grid-length), 1fr);
	grid-template-rows: repeat(var(--memory-grid-length), 1fr);
	gap: var(--memory-grid-gap);
}

.level-tries {
	display: flex;

	/* space-around also looks good. check whats better */
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.level-tries .level {
	margin: 0;
}

.level-tries .tries {
	margin: 0;
}

.memory-tile {
	background-color: rgb(150, 150, 150);
	cursor: pointer;
	border-radius: 0.4rem;
	aspect-ratio: 1;
  transition: transform 0.2s linear, background-color 0s 0.1s;
}

.memory-tile.correct-tile {
	cursor: default;
  background-color: #87cefa;
}

.memory-tile.wrong-tile {
	opacity: 0.2;
	cursor: default;
}

.correct-tile.animate-flip {
  transform: rotateX(180deg);
}

.level-pass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(95, 95, 95);
	z-index: -1;
	opacity: 0;
}

.level-pass.animate {
	animation: level-pass 0.15s forwards alternate 2;
}

@keyframes level-pass {
	to {
		opacity: 0.25;
	}
}

@keyframes floating-bubble {
	0% {
		opacity: 0.6;
	}

	100% {
		transform: rotate(360deg);
		bottom: 100vh;
		opacity: 0.2;
	}
}

@keyframes mouse-wave {
	0% {
		width: 0;
		height: 0;
	}

	100% {
		width: 5rem;
		height: 5rem;
		opacity: 0.2;
	}
}

@media (max-width: 576px) {
	.games-menu-container {
		margin: 1rem;
	}

	.games-menu-btn {
		margin: 1rem;
	}
}

@media (max-width: 520px) {
	.wrapper {
		width: 92.5%;
	}

	.input-box input {
		padding-right: 1.5rem;
	}

	.form-padding {
		padding: 1.5rem 1.6rem;
	}
}

@media (max-width: 375px) {
	.wrapper {
		width: 94%;
	}

	.input-box input {
		font-size: 1.08rem;
	}

	.input-box label {
		top: 7px;
	}

	.input-box i {
		top: 10px;
	}

	.form-padding {
		padding: 1.5rem 1rem;
	}
}
